

@import '../../../index.scss';
    
    
.about-container {
    padding: 71px 10%;
    text-align: center;
    background-color: #fcfcfc;

    .history {
        margin: 100px 0;
    }

    h1, h2 {
        font-size: 4vw;
        color: #03277b;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 620px) {

    .about-container {
        width: 90%;
        margin: auto;
        padding: 130px 0;
    }

    .about-container {
        p {
            font-size: 3vw;
        }
    }
}



.form-lightBox {
    width: 80%;
    margin: auto;
}
