

.settings-container {
    width: 80%;
    margin: auto;
    padding: 10% 10%;
    // display: flex;
    text-align: center;

    // input {
    //     width: 100%;
    //     justify-content: center;
    // }
}