@charset "UTF-8";
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Proza+Libre");
@import url("https://fonts.googleapis.com/css?family=Unna");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cta-btn {
  width: 60%;
  height: 50px;
  border-radius: 30px;
  background: #2A2A72;
  color: #f5f6f7;
  border: none;
  -webkit-box-shadow: 1px 2px #a9acaf;
          box-shadow: 1px 2px #a9acaf;
  margin-top: 25px;
}

.cta-btn:active {
  position: relative;
  top: 1px;
}

.cta-btn:hover {
  background: #13A6E8;
}

.cta-btn:focus {
  outline: none;
}

.header-name {
  font-size: 5vw;
  text-align: center;
  color: #2A2A72;
  margin: 25px 0;
}

.page-container {
  padding: 50px 0;
  width: 90%;
  margin: auto;
}

.edit-btn-lightbox .btn-open-lightbox {
  background-color: transparent;
  outline: none;
  border: none;
}

.edit-btn-lightbox .btn-open-lightbox:before {
  content: "";
  font-family: "Font Awesome 5 Free";
}

.delete-btn-dialog .btn-open-dialog {
  background-color: transparent;
  outline: none;
  border: none;
}

.delete-btn-dialog .btn-open-dialog:before {
  content: "";
  font-family: "Font Awesome 5 Free";
}

@media screen and (min-width: 520px) {
  .header-name {
    margin: 100px 0 40px 0;
  }
}

.container {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.router-conatainer {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.footer-container .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 282px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2A2A72;
  color: #f5f6f7;
}

.footer-container .footer-info h4 {
  color: #f5f6f7;
}

.footer-container .footer-info .footer-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2rem;
  position: relative;
}

.footer-container .footer-info .footer-content:after {
  background-color: #f5f6f7;
  bottom: -45px;
  content: '';
  display: block;
  height: 218px;
  left: 100%;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 1px;
}

.footer-container .footer-info .footer-content .social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-container .footer-info .footer-content .social-media ul li {
  width: 25px;
  list-style: none;
  margin-right: 1.5rem;
  text-align: center;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.footer-container .footer-info .footer-content .social-media ul li:hover {
  color: #13A6E8;
}

.footer-container .footer-info .contact-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 2rem;
}

.footer-container .footer-info .contact-info ul {
  margin: 0;
}

.footer-container .footer-info .contact-info ul li {
  list-style: none;
}

.footer-container .footer-info .contact-info ul li i {
  margin-right: 0.5rem;
}

.footer-container .copyright {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.7rem;
  color: #e6e6e6;
  background-color: #2a2e32;
  border: 1px 0 1px 0 solid #696969;
}

@media screen and (max-width: 620px) {
  .footer-container .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    min-height: 0px;
    padding-bottom: 20px;
  }
  .footer-container .footer-info .footer-content {
    width: 100%;
    padding: 1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .footer-container .footer-info .footer-content:after {
    display: none;
  }
  .footer-container .footer-info .footer-content h4 {
    display: none;
  }
  .footer-container .footer-info .footer-content p {
    display: none;
  }
  .footer-container .footer-info .footer-content .social-media ul li {
    width: calc(100%/4);
    text-align: center;
    margin: 0;
  }
  .footer-container .footer-info .contact-info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    padding: 0;
    margin: 10px 0;
  }
  .footer-container .footer-info .contact-info .location {
    display: none;
  }
  .footer-container .footer-info .contact-info ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
  .footer-container .footer-info .contact-info ul li {
    list-style: none;
  }
  .footer-container .footer-info .contact-info ul li i {
    margin-right: 0.5rem;
  }
}
/*# sourceMappingURL=footer.css.map */