

@import '../../../index.scss';


.add-task-btn-lightbox {
  .btn-open-lightbox{
      @include icon-btn($task-list-icon, "");
      &:hover {
        background-color: $secondary-color1;
      }
  }
}

.task-container {
  width: 90%;
  margin: auto;
  padding: 25px 0;
}


@media screen and (max-width: 550px) {

  .task-container {
      width: 90%;
      margin: auto;
      padding: 130px 0;
  }
}