

// .hide-lightbox {
//     display: none;
// }


// @keyframes show-lightbox-container {
//     0%  {top:37.5%;}
//     100% {top:40%;}
// }

// @keyframes show-lightbox-background {
//     25%  {background-color: rgba(0, 0, 0, 0.2);}
//     75% {background-color: rgba(0, 0, 0, 0.3);}
//     100% {background-color: rgba(0, 0, 0, 0.4);}
// }