

@import '../../../index.scss';

@mixin centerDiv($width, $height, $bg, $top, $zIndex) {
    position: fixed;
    width: $width;
    height: $height;
    z-index: $zIndex;
    margin: 0;
    top: $top;
    left: 50%;
    background-color: $bg;
    transform: translate(-50%, -50%);
    text-align: center;
    min-height: 35%;
    padding: 25px;
}


.lightboxContainer {
    @include centerDiv(300px, auto, $dive-grey-1, 380px, 11);
    min-width: 60%;
    max-width: 70%;
    text-align: center;
    animation: show-lightbox-container 0.2s linear;

    .title-lightbox {
        color: #2A2A72;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        font-size: 4vh;
    }
}


@keyframes show-lightbox-container {
    0%  {top:365px;}
    100% {top:380px;}
}


@media screen and (max-width: 620px) {

    .lightboxContainer {
        left: 50%;
        padding: 25px 5px;
        min-width: 90%;
    }

}