


.logout-container {
    p:first-child {
        margin: 40px auto;
    }

    .logout-btn {
        display: flex;
        justify-content: center;
        button {
            flex: 1 1;
            margin: 0 10px;
            max-width: 150px;
        }
    }
}