

.modal-body {
    label {
        margin: 0 0.5em;
        display: block;
    }

    input {
        overflow: visible;
        width: 100%;
        padding: 0.5em;
        //border: 0.5px solid #007bff;
    }
}